{
  "extends": "airbnb-base/legacy",
  "rules": {
    "no-param-reassign": 1,
    "max-len": 0,
    "func-names": 1,
    "source-type": "module"
  },
  "env": {
    "browser": true,
    "es6": true
  }
}
